#contact {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 2rem);
  padding-block: 8rem;
  padding-inline: 2rem;
  justify-content: center;
  align-items: center;
}

.title {
  word-spacing: 2px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.contact {
  text-decoration: none;
  word-spacing: 2px;
  text-transform: capitalize;
}

.contact > :last-child {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
@media (min-width: 45rem) {
  .contact {
    font-size: 3.8rem;
  }
}
